{% extends 'layouts/dashboard_base.html' %}

{% block title %}
    Users
{% endblock %}


{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 box-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-content-center mb-2">
                                <h4 class="card-title mb-2">All Users</h4>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#add-odometer">
                                    <i class="zmdi zmdi-plus"></i> Add User
                                </button>
                            </div>

                            <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="datatable-buttons"
                                               class="table table-striped dt-responsive nowrap w-100 dataTable no-footer dtr-inline collapsed"
                                               role="grid" aria-describedby="datatable-buttons_info"
                                               style="width: 1197px;">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending">Name
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Position: activate to sort column ascending">Email
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Position: activate to sort column ascending">Role
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Phone
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Status
                                                </th>
                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                            </thead>


                                            <tbody>
                                                {% for user in users %}
                                                	<tr role="row" class="odd">
                                                        <td tabindex="0" class="sorting_1">
                                                            {{ user.first_name }} {{ user.last_name }}
                                                        </td>
                                                        <td style="">
                                                            {{ user.email }}
                                                        </td>
                                                        <td style="">
                                                            {{ user.role }}
                                                        </td>
                                                        <td style="">{{ user.phone_number|default_if_none:'n/a' }}</td>
                                                        <td style="">
                                                            {% if user.is_verified %}
                                                                <span class="badge badge-pill badge-success">
                                                                    Verified
                                                                </span>
                                                            {% else %}
                                                                <span class="badge badge-pill badge-danger">
                                                                    Not Verified
                                                                </span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'system:view_user' user.id %}" class="btn-dark text-white btn-sm"><i class="fa fa-eye"></i></a>
                                                            <a href="{% url 'system:view_user' user.id %}#edit-user" class="btn-info text-white btn-sm"><i class="fa fa-edit"></i></a>
                                                        </td>
                                                    </tr>
                                                {% empty %}

                                                {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-odometer" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'system:save_user' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="">Phone Number</label>
                            <input type="text" class="form-control" name="phone_number" placeholder="Phone Number" required>
                        </div>
                        <div class="form-group">
                            <label for="">User Role</label>
                            <select class="form-control" name="role" id="">
                                <option value="" selected>-- Select Role --</option>
                                <option value="SALES">Sales</option>
                                <option value="BACK_OFFICE">Back Office</option>

                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Save User</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{#{#}
{#    "email": "gh@gmail.com",#}
{#    "first_name": "string",#}
{#    "last_name": "string",#}
{#    "phone_number": "string",#}
{#    "role": "SALES"#}
{#}#}