{% extends 'layouts/dashboard_base.html' %}

{% block title %}
    {{ odometer.first_name }}
{% endblock %}


{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                {% include 'layouts/partials/alerts.inc.html' %}
                <div class="col-12 box-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-content-center mb-2">
                                <h4 class="card-title mb-2">Odometer Details</h4>

                            </div>
                            <table class="table table-striped table-bordered table-inverse table-responsive-sm">
                                <thead class="thead-inverse">
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th>Equipment</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td scope="row">{{ odometer.name }}</td>
                                    <td scope="row">{{ odometer.value }}</td>
                                    <td>{{ selected_equipment.name }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
                <div class="col-12 box-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-content-center mb-2">
                                <h4 class="card-title mb-2">Change Information</h4>
                            </div>

                            <form id="edit-odometer" action="{% url 'system:save_odometer' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" value="{{ odometer.name }}" name="name" placeholder="Name of Odometer" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Value</label>
                                    <input type="number" step="0.0001" value="{{ odometer.value }}" class="form-control" name="value" placeholder="Name of Odometer" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Equipment</label>
                                    <select class="form-control" name="equipment" id="">

                                        <option  >-- Select Equipment --</option>
                                        {% for equipment in equipments %}
                                            <option value="{{ equipment.id }}" {% if equipment.id == odometer.equipment %} selected {% endif %}>
                                                {{ equipment.name }}
                                            </option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-info">Update Odometer</button>
                                </div>
                            </form>
                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
        </div>
    </div>

{% endblock %}
