{% extends 'layouts/dashboard_base.html' %}

{% block title %}
    Referrers
{% endblock %}


{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            {% include 'layouts/partials/alerts.inc.html' %}
            <div class="row">
                <div class="col-12 box-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-content-center mb-2">
                                <h4 class="card-title mb-2">All Referrers</h4>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#add-purchaser">
                                    <i class="zmdi zmdi-plus"></i> Add Referrer
                                </button>
                            </div>

                            <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="datatable-buttons"
                                               class="table table-striped dt-responsive nowrap w-100 dataTable no-footer dtr-inline collapsed"
                                               role="grid" aria-describedby="datatable-buttons_info"
                                               style="width: 1197px;">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending">Name
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Position: activate to sort column ascending">Phone Number
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Email
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Digital Address
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Res. Address
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Actions
                                                </th>
                                            </tr>
                                            </thead>


                                            <tbody>
                                            {% for referrer in referrers %}
                                            	<tr role="row" class="odd">
                                                    <td tabindex="0" class="sorting_1">{{ referrer.name }}</td>
                                                    <td style="">{{ referrer.phone_number }}</td>
                                                    <td style="">{{ referrer.email }}</td>
                                                    <td style="">{{ referrer.digital_address }}</td>
                                                    <td style="">{{ referrer.residential_address }}</td>
                                                    <td style="">
                                                        <a href="{% url 'system:referrer_sales' referrer.id %}"  class="btn btn-success btn-sm">
                                                            <i class="zmdi zmdi-receipt"></i> View Sales
                                                        </a>
                                                        <a href="{% url 'system:view_referrer' referrer.id %}" class="btn-dark text-white btn-sm"><i class="fa fa-eye"></i></a>
                                                        <a href="#" class="btn-info text-white btn-sm"><i class="fa fa-edit"></i></a>
                                                    </td>
                                                </tr>
                                            {% empty %}

                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-purchaser" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new Referrer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'system:save_referrer' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Name of Referrer" required>
                        </div>
                        <div class="form-group">
                            <label for="">Phone Number</label>
                            <input type="text" class="form-control" name="phone_number" placeholder="Phone Number" required>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="">Digital Address</label>
                            <input type="text" class="form-control" name="digital_address" placeholder="Digital Address" required>
                        </div>
                        <div class="form-group">
                            <label for="">Residential Address</label>
                            <textarea class="form-control" name="residential_address" id="" rows="3"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Save Referrer</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{##}
{## {#}
{##   "name": "string",#}
{##   "phone_number": "string",#}
{##   "email": "user@example.com",#}
{##   "digital_address": "string",#}
{##   "residential_address": "string"#}
{## }#}