{% extends 'layouts/dashboard_base.html' %}

{% block title %}
    Services
{% endblock %}


{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            {% include 'layouts/partials/alerts.inc.html' %}
            <div class="row">
                <div class="col-12 box-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-content-center mb-2">
                                <h4 class="card-title mb-2">All Services</h4>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#add-odometer">
                                    <i class="zmdi zmdi-plus"></i> Add Service
                                </button>
                            </div>

                            <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="datatable-buttons"
                                               class="table table-striped dt-responsive nowrap w-100 dataTable no-footer dtr-inline collapsed"
                                               role="grid" aria-describedby="datatable-buttons_info"
                                               style="width: 1197px;">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending">Name
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Position: activate to sort column ascending">Value
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Equipment
                                                </th>
                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                            </thead>


                                            <tbody>
                                                {% for service in services %}
                                                	<tr role="row" class="odd">
                                                        <td tabindex="0" class="sorting_1">{{ service.name }}</td>
                                                        <td style="">{{ service.value }}</td>
                                                        <td style="">{{ service.equipment }}</td>
                                                        <td>
                                                            <a href="#" class="btn btn-info btn-sm"><i class="zmdi zmdi-edit"></i></a>
                                                            <a href="#" class="btn btn-danger btn-sm"><i class="zmdi zmdi-delete"></i></a>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                	<tr>
                                                        <td colspan="4" class="text-center">No Records Available</td>
                                                    </tr>
                                                {% endfor %}



                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-odometer" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new Service</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'system:save_odometer' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Service Type</label>
                            <select class="form-control" name="service_type_pk" id="">
                                <option value="" selected>-- Select Equipment --</option>
                                {% for service_type in service_types %}
                                    <option value="{{ service_type.id }}">{{ service_type.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Odometer Value</label>
                            <select class="form-control" name="odometer_value" id="">
                                <option value="" selected>-- Select Odometer Value --</option>
                                {% for odometer in odometers %}
                                    <option value="{{ odometer.id }}">{{ odometer.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Equipment</label>
                            <select class="form-control" name="equipment_pk" id="">
                                <option value="" selected>-- Select Equipment --</option>
                                {% for equipment in equipments %}
                                    <option value="{{ equipment.id }}">{{ equipment.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Technician</label>
                            <select class="form-control" name="technician_pk" id="">
                                <option value="" selected>-- Select Technician --</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Notes</label>
                            <textarea class="form-control" name="notes" id="" rows="3"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Save Service</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{## {#}
{##   "odometer_value": 0,#}
{##   "notes": "string",#}
{##   "equipment_pk": 0,#}
{##   "technician_pk": 0,#}
{##   "service_type_pk": 0#}
{## }#}
