{% extends 'layouts/dashboard_base.html' %}

{% block title %}
    Equipments
{% endblock %}


{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                {% include 'layouts/partials/alerts.inc.html' %}
                <div class="col-12 box-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-content-center mb-2">
                                <h4 class="card-title mb-2">All Equipments</h4>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#add-purchaser">
                                    <i class="zmdi zmdi-plus"></i> Add Equipment
                                </button>
                            </div>

                            <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="datatable-buttons"
                                               class="table table-striped dt-responsive nowrap w-100 dataTable no-footer dtr-inline collapsed"
                                               role="grid" aria-describedby="datatable-buttons_info"
                                               style="width: 1197px;">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending">Name
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Position: activate to sort column ascending">Model
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Engine Number
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending">Year
                                                </th>
                                                <th class="sorting" tabindex="0">Action
                                                </th>

                                            </tr>
                                            </thead>


                                            <tbody>
                                            {% for equipment in equipments %}
                                            	<tr role="row" class="odd">
                                                    <td tabindex="0" class="sorting_1">
                                                        <img src="{{ equipment.image_url }}" height="50" width="50" alt="{{ equipment.name }}" class="img-rounded">
                                                        {{ equipment.name }}
                                                    </td>
                                                    <td style="">{{ equipment.model }}</td>
                                                    <td style="">{{ equipment.engine_number }}</td>
                                                    <td style="">{{ equipment.year }}</td>
                                                    <td>
                                                        <a href="{% url 'system:view_equipment' equipment.id %}" class="btn-dark text-white btn-sm"><i class="fa fa-eye"></i></a>
                                                        <a href="{% url 'system:edit_equipment' equipment.id %}" class="btn-info text-white btn-sm"><i class="fa fa-edit"></i></a>
                                                    </td>
                                                </tr>
                                            {% empty %}

                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-purchaser" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new Equipment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'system:save_equipment' %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Name of Equipment" required>
                        </div>
                        <div class="form-group">
                            <label for="">Model</label>
                            <input type="text" class="form-control" name="model" placeholder="Model" required>
                        </div>
                        <div class="form-group">
                            <label for="">Engine Number</label>
                            <input type="text" class="form-control" name="engine_number" placeholder="Engine Number" required>
                        </div>
                        <div class="form-group">
                            <label for="">Year</label>
                            <input type="text" class="form-control" name="year" placeholder="Year" required>
                        </div>
                        <div class="form-group">
                            <label for="">Image</label>
                            <input type="file" class="form-control-file" name="image_url" >
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Save Equipment</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{#}
{#  "name": "string",#}
{#  "model": "string",#}
{#  "engine_number": "string",#}
{#  "year": "string",#}
{#  "image_url": "string"#}
{#}#}